.flex {
  display: flex;
}
ion-header {
  padding-top: 6px;
  padding-left: 0px;
  background-color: #ffffff;
  border: none;
}

/* removes the shadow below the header */
.header-md::after {
  height: 0px;
  border-style: solid 2px;
}
.ellipsis {
  color: #6C69FC;
  height: 22px;
  width: 30px;
}

.user {
  background: linear-gradient(180deg, #f2edfd 0%, #eeedff 100%);
  float: right;
}
.user_txn {
  filter: drop-shadow(0px 2px 4px rgba(106, 103, 251, 0.3));
}
.chat_partner {
  background: #f1f1f3;
}
.request {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(106, 103, 251, 0.3);
}
.chat_partner_txn {
  background: linear-gradient(180deg, #f2f8fd 0%, #edfff9 100%);
  filter: drop-shadow(0px 2px 4px rgba(54, 191, 172, 0.3));
}

.chatbubble {
  box-sizing: content-box;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 10px;
  max-width: 270px;
  /* margin-right: 4px; */

  /* background: linear-gradient(180deg, #f2edfd 0%, #eeedff 100%); */
  border-radius: 10px;
  clip-path: content-box;
}
.chat_timestamp {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #8b8b8b;
  margin-right: 4px;
}
.align_checkmark {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.checkmark_color {
  color: rgba(0, 0, 0, 0.4);
}
.chat_checkmark {
  margin: 8px 0px -9px;
}

/* SendRequestDashModal styles */
.enter-dash {
  width: 132px;
  text-align: end;
  height: 34px;
  /* font-family: Inter; */
  font-style: normal;
  --placeholder-font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  --placeholder-color: #000000;
  flex: none;
  /* margin-top: 34px; */
  margin-bottom: 5px;
  margin-right: 6px;
  text-align: end;
}
.dash-label {
  height: 37px;
  width: 170px;
  /* font-family: Inter; */
  font-style: normal;
  /* --placeholder-font-weight: 600; */
  font-size: 28px;
  line-height: 34px;
  --placeholder-color: #000000;
  /* order: 1; */
  /* margin-top: 34px; */
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.enter-fiat {
  /* font-family: Inter; */
  width: 132px;
  margin: 0px 0px 0px auto;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
  align-items: center;

  flex: none;
  text-align: end;
  margin-right: 6px;
}
.fiat-label {
  width: 170px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
  display: flex;
  align-items: flex-start;
  order: 1;
  margin-bottom: 10px;
  /* margin-right: 35%; */
  /* text-align: flex-start; */
}
.convert {
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
}
.green {
  color: #34bba8;
}
.purple {
  color: #6c69fc;
}

.inflow {
  background: linear-gradient(266.73deg, #f2f8fd 0%, #ebfff8 98.09%);
}
.outflow {
  background: linear-gradient(
    266.51deg,
    #f3f3ff 0%,
    #e9f0ff 100%,
    #e9f0ff 100%
  );
}

.headername {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  /* padding-left: 15px; */
}
.centerheader {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 14px; */
  display: flex;
  align-items: center;
}
.close {
  width: 28px;
  height: 28px;
  color: #6c69fc;
  /* margin-left: 6px; */
}
.unlock {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 14px;
  display: flex;
  align-items: center;
  color: #000000;
}
.userinfo {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px;
}
.userdisplayname {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #68717B;
  display: flex;
  justify-content: center;
  margin: 4px 0px 0px;
}
.statusmessage {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #68717B;
  display: flex;
  justify-content: center;
  margin: 18px
}

.mediumdescription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.004em;
  color: #68717b;
}

.capitalize {
  text-transform: capitalize;
}

.back {
  margin-left: 16px;
  width: 22px;
  height: 22px;
  color: #6c69fc;
}

/* Large Fixed Button */
.nextbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 13px 148px; */

  width: 328px;
  height: 44px;
  margin: 16px auto;

  border-radius: 10px;
}
.next-color{
  background: linear-gradient(40.37deg, #6A67FB 0.15%, #8D71FF 100%);
}
.next-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #ffffff;
}

.timestamp_chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  margin-top: 15px;
  margin-bottom: 15px;

  background: linear-gradient(
    266.51deg,
    #f3f3ff 0%,
    #e9f0ff 100%,
    #e9f0ff 100%
  );
  /* backdrop-filter: blur(10px); */ /* not currently supported in most browsers */
  border-radius: 11px;
}
.timestamp_label {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: rgba(108, 105, 252); /* changed to a darker purple text */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.currency-flag {
  display: inline-block;
  /* width: 24px;
  height: 16px; */
  width: 30px;
  height: 20px;
  background-size: cover;
  background-image:url('https://wise.com/public-resources/assets/flags/rectangle_fallback.png');
}

.currency-flag-sm {
  width: 16px;
  height: 10px;
}

.currency-flag-lg {
  width: 36px;
  height: 24px;
}

.currency-flag-xl {
  width: 48px;
  height: 32px;
}

ion-searchbar {
  --background: #f3f3f3;
  --border-radius: 8px;
  --box-shadow: 0;
  --icon-color: #9c9c9c;
  --placeholder-color: #9c9c9c;
  width: 100%;
  /* width: 334px; width in mobile with padding */
  height: 31px;
  padding-left: 0px;
  padding-right: 0px;
}
.currency-flag.currency-flag-aed{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/aed.png');}
.currency-flag.currency-flag-afn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/afn.png');}
.currency-flag.currency-flag-all{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/all.png');}
.currency-flag.currency-flag-amd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/amd.png');}
.currency-flag.currency-flag-ang{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ang.png');}
.currency-flag.currency-flag-aoa{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/aoa.png');}
.currency-flag.currency-flag-ars{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ars.png');}
.currency-flag.currency-flag-aud{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/aud.png');}
.currency-flag.currency-flag-awg{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/awg.png');}
.currency-flag.currency-flag-azn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/azn.png');}
.currency-flag.currency-flag-bam{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bam.png');}
.currency-flag.currency-flag-bbd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bbd.png');}
.currency-flag.currency-flag-bdt{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bdt.png');}
.currency-flag.currency-flag-bgn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bgn.png');}
.currency-flag.currency-flag-bhd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bhd.png');}
.currency-flag.currency-flag-bif{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bif.png');}
.currency-flag.currency-flag-bmd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bmd.png');}
.currency-flag.currency-flag-bnd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bnd.png');}
.currency-flag.currency-flag-bob{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bob.png');}
.currency-flag.currency-flag-brl{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/brl.png');}
.currency-flag.currency-flag-bsd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bsd.png');}

.currency-flag.currency-flag-btc{background-image:url('../../public/assets/icons/currency_flags/btc.svg'); width: 35px; height: 35px; margin-left: -4px; margin-right: -1px; align-self: center; justify-self: center;}

.currency-flag.currency-flag-btn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/btn.png');}
.currency-flag.currency-flag-bwp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bwp.png');}
.currency-flag.currency-flag-byn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/byn.png');}
.currency-flag.currency-flag-byr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/byn.png');} /* new belarusian rubble 2000-2016 (same symbol) */
.currency-flag.currency-flag-btn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/btn.png');}
.currency-flag.currency-flag-bwp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bwp.png');}
.currency-flag.currency-flag-byn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/byn.png');}
.currency-flag.currency-flag-bzd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/bzd.png');}
.currency-flag.currency-flag-cad{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cad.png');}
.currency-flag.currency-flag-cdf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cdf.png');}
.currency-flag.currency-flag-chf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/chf.png');}
.currency-flag.currency-flag-clf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/clp.png');}

.currency-flag.currency-flag-clp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/clp.png');} /*1clf = 27593 clp; clp = chilean peso; clf = chilean unit of account */

.currency-flag.currency-flag-cny{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cny.png');}
.currency-flag.currency-flag-cop{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cop.png');}
.currency-flag.currency-flag-crc{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/crc.png');}
.currency-flag.currency-flag-cuc{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cup.png');} /* cuba: The CUC is pegged to the US dollar at a rate of one to one, and 1 CUC is worth about 26 CUP */
.currency-flag.currency-flag-clp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/clp.png');}
.currency-flag.currency-flag-cny{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cny.png');}
.currency-flag.currency-flag-cop{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cop.png');}
.currency-flag.currency-flag-crc{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/crc.png');}
.currency-flag.currency-flag-cup{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cup.png');}
.currency-flag.currency-flag-cve{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/cve.png');}
.currency-flag.currency-flag-czk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/czk.png');}
.currency-flag.currency-flag-djf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/djf.png');}
.currency-flag.currency-flag-dkk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/dkk.png');}
.currency-flag.currency-flag-dop{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/dop.png');}
.currency-flag.currency-flag-dzd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/dzd.png');}
.currency-flag.currency-flag-egp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/egp.png');}
.currency-flag.currency-flag-ern{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ern.png');}
.currency-flag.currency-flag-etb{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/etb.png');}

.currency-flag.currency-flag-eth{background-image:url('../../public/assets/icons/currency_flags/eth.png'); background-repeat: no-repeat; margin-left: 5px;  margin-right: -5px;}

.currency-flag.currency-flag-eur{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/eur.png');}
.currency-flag.currency-flag-fjd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/fjd.png');}
.currency-flag.currency-flag-fkp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/fkp.png');}
.currency-flag.currency-flag-gbp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/gbp.png');}
.currency-flag.currency-flag-gel{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/gel.png');}

.currency-flag.currency-flag-ggp{background-image:url('../../public/assets/icons/currency_flags/GGP.svg');} /* added: flag of Guernsey */
.currency-flag.currency-flag-ghs{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ghs.png');}
.currency-flag.currency-flag-gip{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/gip.png');}
.currency-flag.currency-flag-gmd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/gmd.png');}
.currency-flag.currency-flag-gnf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/gnf.png');}
.currency-flag.currency-flag-gtq{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/gtq.png');}
.currency-flag.currency-flag-gyd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/gyd.png');}
.currency-flag.currency-flag-hkd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/hkd.png');}
.currency-flag.currency-flag-hnl{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/hnl.png');}
.currency-flag.currency-flag-hrk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/hrk.png');}
.currency-flag.currency-flag-htg{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/htg.png');}
.currency-flag.currency-flag-huf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/huf.png');}
.currency-flag.currency-flag-idr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/idr.png');}
.currency-flag.currency-flag-ils{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ils.png');}

.currency-flag.currency-flag-imp{background-image:url('../../public/assets/icons/currency_flags/imp.png');} /* added: flag of Isle of Man */

.currency-flag.currency-flag-inr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/inr.png');}
.currency-flag.currency-flag-iqd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/iqd.png');}
.currency-flag.currency-flag-irr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/irr.png');}
.currency-flag.currency-flag-isk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/isk.png');}
.currency-flag.currency-flag-jep{background-image:url('../../public/assets/icons/currency_flags/jep.png');} /* added: flag of Jersey */

.currency-flag.currency-flag-jmd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/jmd.png');}
.currency-flag.currency-flag-jod{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/jod.png');}
.currency-flag.currency-flag-jpy{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/jpy.png');}
.currency-flag.currency-flag-kes{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/kes.png');}
.currency-flag.currency-flag-kgs{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/kgs.png');}
.currency-flag.currency-flag-khr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/khr.png');}
.currency-flag.currency-flag-kmf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/kmf.png');}
.currency-flag.currency-flag-kpw{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/kpw.png');}
.currency-flag.currency-flag-krw{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/krw.png');}
.currency-flag.currency-flag-kwd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/kwd.png');}
.currency-flag.currency-flag-kyd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/kyd.png');}
.currency-flag.currency-flag-kzt{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/kzt.png');}
.currency-flag.currency-flag-lak{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/lak.png');}
.currency-flag.currency-flag-lbp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/lbp.png');}
.currency-flag.currency-flag-lkr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/lkr.png');}
.currency-flag.currency-flag-lrd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/lrd.png');}
.currency-flag.currency-flag-lsl{background-image:url('../../public/assets/icons/currency_flags/lsl.jpg');} /* added: flag of Lesotho */

.currency-flag.currency-flag-ltc{background-image:url('../../public/assets/icons/currency_flags/ltc.png'); background-repeat: no-repeat; margin-left: 5px;  margin-right: -5px;} /* added LTC */
.currency-flag.currency-flag-ltl{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ltl.png');}
.currency-flag.currency-flag-lyd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/lyd.png');}
.currency-flag.currency-flag-mad{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mad.png');}
.currency-flag.currency-flag-mdl{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mdl.png');}
.currency-flag.currency-flag-mga{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mga.png');}
.currency-flag.currency-flag-mkd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mkd.png');}
.currency-flag.currency-flag-mmk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mmk.png');}
.currency-flag.currency-flag-mnt{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mnt.png');}
.currency-flag.currency-flag-mop{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mop.png');}
.currency-flag.currency-flag-mro{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mro.png');}
.currency-flag.currency-flag-mur{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mur.png');}
.currency-flag.currency-flag-mvr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mvr.png');}
.currency-flag.currency-flag-mwk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mwk.png');}
.currency-flag.currency-flag-mxn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mxn.png');}
.currency-flag.currency-flag-myr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/myr.png');}
.currency-flag.currency-flag-mzn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/mzn.png');}
.currency-flag.currency-flag-nad{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/nad.png');}
.currency-flag.currency-flag-ngn{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ngn.png');}
.currency-flag.currency-flag-nio{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/nio.png');}
.currency-flag.currency-flag-nok{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/nok.png');}
.currency-flag.currency-flag-npr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/npr.png');}
.currency-flag.currency-flag-nzd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/nzd.png');}
.currency-flag.currency-flag-omr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/omr.png');}
.currency-flag.currency-flag-pab{background-image:url('../../public/assets/icons/currency_flags/pab.png');} /* added: Panama flag */
.currency-flag.currency-flag-pen{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/pen.png');}
.currency-flag.currency-flag-pgk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/pgk.png');}
.currency-flag.currency-flag-php{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/php.png');}
.currency-flag.currency-flag-pkr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/pkr.png');}
.currency-flag.currency-flag-pln{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/pln.png');}
.currency-flag.currency-flag-pyg{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/pyg.png');}
.currency-flag.currency-flag-qar{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/qar.png');}
.currency-flag.currency-flag-ron{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ron.png');}
.currency-flag.currency-flag-rsd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/rsd.png');}
.currency-flag.currency-flag-rub{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/rub.png');}
.currency-flag.currency-flag-rwf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/rwf.png');}
.currency-flag.currency-flag-sar{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/sar.png');}
.currency-flag.currency-flag-sbd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/sbd.png');}
.currency-flag.currency-flag-scr{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/scr.png');}

.currency-flag.currency-flag-sdg{background-image:url('../../public/assets/icons/currency_flags/sdg.png'); background-repeat: no-repeat; align-self: center; margin-top: 5px;} /* added: Republic of Sudan flag */
.currency-flag.currency-flag-sek{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/sek.png');}
.currency-flag.currency-flag-sgd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/sgd.png');}
.currency-flag.currency-flag-shp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/shp.png');}
.currency-flag.currency-flag-sll{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/sll.png');}
.currency-flag.currency-flag-sos{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/sos.png');}
.currency-flag.currency-flag-srd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/srd.png');}
.currency-flag.currency-flag-std{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/std.png');}
.currency-flag.currency-flag-svc{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/svc.png');}
.currency-flag.currency-flag-syp{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/syp.png');}
.currency-flag.currency-flag-szl{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/szl.png');}
.currency-flag.currency-flag-thb{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/thb.png');}
.currency-flag.currency-flag-tjs{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/tjs.png');}

.currency-flag.currency-flag-tmt{background-image:url('../../public/assets/icons/currency_flags/tmt.png');} /* added: Turkmenistan flag */
.currency-flag.currency-flag-tnd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/tnd.png');}
.currency-flag.currency-flag-top{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/top.png');}
.currency-flag.currency-flag-try{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/try.png');}
.currency-flag.currency-flag-ttd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ttd.png');}
.currency-flag.currency-flag-twd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/twd.png');}
.currency-flag.currency-flag-tzs{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/tzs.png');}
.currency-flag.currency-flag-uah{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/uah.png');}
.currency-flag.currency-flag-ugx{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/ugx.png');}
.currency-flag.currency-flag-usd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/usd.png');}
.currency-flag.currency-flag-uyu{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/uyu.png');}
.currency-flag.currency-flag-uzs{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/uzs.png');}
.currency-flag.currency-flag-vef{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/vef.png');}
.currency-flag.currency-flag-ves{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/vef.png');} /* 1 ves = 100,000 vef */
.currency-flag.currency-flag-vnd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/vnd.png');}
.currency-flag.currency-flag-vuv{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/vuv.png');}
.currency-flag.currency-flag-wst{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/wst.png');}
.currency-flag.currency-flag-xaf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/xaf.png');}
.currency-flag.currency-flag-xag{background-image:url('../../public/assets/icons/currency_flags/xag.png'); background-repeat: no-repeat; justify-self: center; margin-left: 5px; margin-right: -5px;}
.currency-flag.currency-flag-xau{background-image:url('../../public/assets/icons/currency_flags/xau.png'); background-repeat: no-repeat; justify-self: center; margin-left: 5px; margin-right: -5px;}
/* .currency-flag.currency-flag-xag{background-image:url('/public/assets/icons/currency_flags/xag.png');} */
.currency-flag.currency-flag-xcd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/xcd.png');}
/* .currency-flag.currency-flag-xdr{background-image:url('../../public/assets/icons/currency_flags/xdr.png'); background-repeat: no-repeat; justify-self: center; margin-left: 5px; margin-right: -5px;} */

.currency-flag.currency-flag-xdr{background-image:url('../../public/assets/icons/currency_flags/xdr.png'); width: 33px; height: 33px; margin-left: -3px; margin-right: -1px; align-self: center; justify-self: center;}
/* .currency-flag.currency-flag-xag{background-image:url('/public/assets/icons/currency_flags/xag.png');} */
.currency-flag.currency-flag-xcd{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/xcd.png');}
.currency-flag.currency-flag-xof{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/xof.png');}
.currency-flag.currency-flag-xpf{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/xpf.png');}
.currency-flag.currency-flag-yer{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/yer.png');}
.currency-flag.currency-flag-zar{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/zar.png');}
.currency-flag.currency-flag-zmk{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/zmw.png');} /* "Currency ZMK doesn't have legal tender anymore, it was replaced by currency ZMW since 2013-01-01. Currency ZMK is pegged with currency ZMW since 2013-01-01, the fixed price is 1 ZMW=1000 ZMK." */
.currency-flag.currency-flag-zmw{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/zmw.png');}
.currency-flag.currency-flag-zwl{background-image:url('../../public/assets/icons/currency_flags/zwl.png');} /* added: Turkmenistan flag */
.currency-flag.currency-flag-zmw{background-image:url('https://wise.com/public-resources/assets/flags/rectangle/zmw.png');}

